section#main {
    max-width: 100%;
    width: 99%;
    padding-bottom: 10px;
    text-align: center;
    margin: auto;
}


/* Create a center columns that floats next to each other */
.column_center {
    width: 60%;
    padding: 5px;
    height: 80%;
    margin-left: 20%;
    margin-right: 20%;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

table {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
th {
    text-align: center;
}
td {
    width: 10%;
    text-align: center;
}
input[type=text]{
    border:2px solid black;

}
input[type=number]{
    width: 4em;
    border:2px solid black;
    text-align: center;
}
input[type=textarea]{
    text-align: left;
}
input[type=submit] {
    width: 4em;
    height: 1.5em;
}

.centered {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}